<table style='width: 80%;'>
<th style= 'border: 1px solid black; width: 25%; background-color: #00CDE5' ><h3><strong>Comunicación</strongyle=></h3></th>
<th style= ' border: 1px solid black; width: 25%; background-color: #00CDE5;' ><h3><strong>Vocabulario</strong></h3></th>
<th style= 'border: 1px solid black;width: 30%; background-color: #00CDE5;'><h3><strong>Gramática</strong></h3></th></tr>
<td style= 'border: 1px solid black; padding: 4px'>
- Evocar y relatar hechos, circunstancias o acciones pasadas recientes y lejanas.<br>
- Describir un sitio para pasar vacaciones y actividades que se pueden hacer en él.<br>
- Expresar sorpresa:<br>-¡Que sorpresa!<br>-¿De verdad?<br>-¿En serio?<br>-¿Ah sì?<br>-¡No lo puedo creer!<br>
- Expresar admiración:<br>-¡Qué lugar tan hermoso!<br>-¡Qué maravilla!<br>-Estoy impresionado con...
</td>
<td style= 'border: 1px solid black;padding: 4px'>
- Vocabulario asociado a conocimiento sociocultural de Córdoba.<br>
- Vocabulario sobre viajes, transporte, alojamiento y naturaleza.<br>
- Nombres de calles y lugares de interés.<br>
- Tipos de hospedajes.<br>
- Adjetivos para describir un sitio para alojarse..<br>
- Formas, estilos y materiales.
</td>

<td style= 'border: 1px solid black;padding: 4px;'>
- Pretérito indefinido y pretérito perfecto compuesto.<br>
- Diferencias y complementariedad entre los pretéritos perfecto compuesto e indefinido.<br>
- Los participios regulares e irregulares.<br>
- Conectores temporales: en aquel momento, un rato antes, al cabo de un rato…<br>
- Preguntas sobre el pasado: ¿Qué; dónde; cuándo?<br>
- Nunca he estado allí [en mi vida]. / Nunca estuve allí [en aquella época].<br>
- Acciones realizadas en pasado que se extiende hasta el presente (esta…, hoy).<br>-Coincidencia con una acción pasada.<br>*Conectores para relatar: de repente/de pronto, (y) entonces, al final, al cabo de un rato, etc</td></table>