
.navbar {
  z-index: index 10;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en la barra de navegación */
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background-color: #4BCFEA;
  padding: 31px 61px;
}
  
.navbar-logo {
  filter: drop-shadow(0px 1px 2px #00000040);
}

.navbar-btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-shadow: 0px 1px 2px #00000040;
  color: var(--white);
}

.navbar-btns li{
  cursor: pointer;
}


/* Select Idiomas */
.select-languages{
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.select-languages_img{
  width: 25px;
  height: 17px;
  border-radius: 4px;
}

.select-languages_label{
  margin-left: 8px;
  cursor: pointer;
}

.select-languages_menu{
  box-shadow: 0px 4px 35px #00000040;
  overflow: hidden;
  position: absolute;
  top: 100%;
  border-radius: 4px;
  background-color: var(--white);
  pointer-events: none;
  opacity: 0;
  transition: opacity .15s;
}
.select-languages_menu.active{
  pointer-events: auto;
  opacity: 100;
}

.select-languages_menu li{
  padding: 6px 16px;
  display: flex;
  align-items: center;
  color: #3F3D3D;
  text-shadow: none;
  transition: background .13s;
}

.select-languages_menu li:hover,
.select-languages_menu li.active{
  background-color: #4BCFEA;
  color: var(--white);
}


/* Boton de Registro */
.btn-signUp{
  margin-left: 2em;
  border: 3px solid var(--white);
  border-radius: 6px;
  padding: 7px 28px;
  color: var(--white);
  z-index: 10;
  transition: .3s;
}
.btn-signUp:hover{
  background-color: var(--white);
  color: var(--primary);
}

/* /// Nav Bar Blanco /// */
.navbar.light{
  background-color: var(--white);
}

.navbar.light .navbar-logo {
  filter: none;
}

.navbar.light .navbar-btns{
  text-shadow: none;
  color: #262626;
}

/* Boton de Registro con Gradiente */
.navbar.light  .btn-signUp{
  margin-left: 2em;
  background: linear-gradient(white, white) padding-box, linear-gradient(93.64deg, var(--primary) 5.46%, var(--secondary_hover) 94.15%) border-box;
  border-radius: 6px;
  border: 3px solid transparent;
  color: #262626;
}

.navbar.light .btn-signUp:hover{
  background: linear-gradient(#0000, #0000) padding-box, linear-gradient(93.64deg, var(--primary) 5.46%, var(--secondary_hover) 94.15%)border-box;
  color: var(--white);
}
