.hover-input:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
  }
.hover-input-ok:hover {
    box-shadow: 0 0 18px rgba(7, 246, 87, 0.3); 
  }
.hover-input-wrong:hover {
    box-shadow: 0 0 15px rgba(231, 8, 19, 0.3); 
  }